body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #e5e5e5;
}

header {
    text-align: center;
    padding: 40px 20px;
    border-bottom: 1px solid #333;
}

h1 {
    font-size: 2.4em;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #ffffff;
    border-left: 4px solid #ffffff;
    padding-left: 10px;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    gap: 40px;
}

.sidebar {
    width: 35%;
    background-color: #1c1c1c;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #2a2a2a;
}

.main-content {
    width: 65%;
    padding: 20px;
}


.photo {
    text-align: center;
    margin-bottom: 30px;
}

.photo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid #444;
}

/* Listes */
.sidebar ul,
.main-content ul {
    list-style: none;
    padding: 0;
}

.sidebar li,
.main-content li {
    margin: 6px 0;
}

.job,
.school,
.project {
    margin-bottom: 25px;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #333;
    margin-top: 40px;
    color: #777;
    font-size: 0.9em;
}